<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fullcalendar com vue</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.css' rel='stylesheet'>
    <link rel="stylesheet" href="./assets/css/floatingbutton.css">
    <link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>
    <link rel="stylesheet" href="./assets/libs/fullcalendar/main.css">
    <script src="assets/libs/fullcalendar/main.js"></script>
    <script src="assets/libs/fullcalendar/locales/pt-br.js"></script>

</head>

<body>
    <div id="app">
        <div class="container">
            <h3 class="text-center">{{ title }}</h3>
            <hr>
            <div id="deleteEvent">

                <i  class="fas fa-trash" class="text-danger" ondrop="dropEvent(event)"></i>
            </div>
            <div id="calendario"></div>
        </div>

        <div>some text</div>
        <div id="fab-container">
            <div class="button iconbutton">
                <i class="fas fa-plus"></i>
            </div>
            <ul class="options hide">
                <li>
                    <span class="btn-label">telegram</span>
                    <div class="iconbutton">
                        <i class="fas fa-minus"></i>
                    </div>
                </li>
                <li>
                    <span class="btn-label">instagram</span>
                    <div class="iconbutton">
                        <i class="fas fa-user"></i>
                    </div>
                </li>
                <li>
                    <span class="btn-label">twitter</span>
                    <div class="iconbutton">
                        <i class="fas fa-search"></i>
                    </div>
                </li>
                <li>
                    <span class="btn-label">facebook</span>
                    <div class="iconbutton">
                        <i class="fas fa-minus"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="assets/libs/vue/vue.min.js"></script>
    <script src="assets/scripts/index.js"></script>
</body>

</html>