#fab-container {
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    z-index: 9999;
}

.iconbutton {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #FF4F79;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.button {
    width: 60px;
    height: 60px;
    background: #A11692;
}

.iconbutton i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
}

.options {
    list-style-type: none;
    position: absolute;
    bottom: 50px;
    right: 0;
    /* visibility: hidden; */
    z-index: 9999
}

.options li {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.options.show{
    animation: slideUp 1s ease-in;
    visibility: visible;
    transition: visibility 3s;
}

.options.hide {
    animation: slideDown 1s ease-out;
    visibility: hidden;
    transition: visibility 1s;
}

.btn-label {
    padding: 2px 5px;
    margin-right: 10px;
    align-self: center;
    user-select: none;
    background-color: black;
    color: white;
    border-radius: 3px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

@keyframes slideUp {
    0% {
        bottom: -160px;
        visibility: visible
    }
    60%{
        bottom:  50px
    }
    80%{
        bottom: 40px
    }
    100% {
        bottom:  50px
    }
}

@keyframes slideDown {
    0% {
        bottom:  50px;
    }
    
    100% {
        bottom: -160px;
    }
}